{% extends "personal/base.html" %}

{% load i18n %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="{{ form.username.id_for_label }}">
                {% trans "Please, confirm your username:" %}
            </label>
            <input
                type="text"
                class="form-control"
                name="{{ form.username.html_name }}"
                value="{{ form.username.value }}"
            >
        </div>

        {% for error in form.username.errors %}
            <p class="text-danger">{{ error }}</p>
        {% endfor %}

        <button type="submit" class="btn btn-primary">{% trans "Confirm" %}</button>
    </form>
{% endblock %}
